* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e056fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background-color: white;
  padding: 5rem;
  width: 90%;
  margin: auto;
  position: relative;
}
